body{
  background-color: #02010a;
  font-family: "Dancing Script" Helvetica, Neue, Arial, Helvetica, sans-serif;
  color:#ffffff;
  margin: 0;
}
#container{
  height: 1240px;
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  animation: animContainer 1s;
}
#header{
  height: 90px;
  width: 100%;
  background-color: #5b7989;
  border-radius: 10px 10px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav a{
  color:#FFFFFF;
}
#aRetratos{
  text-decoration: none;
}
#portadaS{
  height: 450px;
  width: 100%;
  background-color: #82c3a6;
  display: flex;
  align-items: center;
}
#footer{
  height: 300px;
  width: 100%;
  background-color: #C6d5c5;
  display: flex;
  margin-bottom: 100px;
  border-radius: 0px 0px 10px 10px;
  color:black;
  align-items: center;
  flex-basis: 25%;
}
#contacto{
  margin-left: 2%;
}
#footer>div{
  height: 100%;
}
#redes{
  display: flex;
  flex-direction: column;
}
a[href^="http"]>img{
  width: 10%;
}
a[href^="http"]{
  text-decoration: none;
  color: black;
}
table{
  width: 90%;
  height: 90%;
  margin: auto;
}
td img{
  width: 100%;
}
#retrato1{
  -webkit-filter: blur(10px);
  filter: blur(10px);
}
#retrato2{
  -webkit-filter: grayscale(100%);
  filter:grayscale(100%);
}
#retrato6{
  -webkit-filter: grayscale(100%);
  filter:grayscale(100%);
}
#retrato4{
  -webkit-filter: grayscale(100%);
  filter:grayscale(100%);
}
#retrato3{
  -webkit-filter: sepia(90%);
  filter:sepia(90%);
}
@-webkit-keyframes animContainer{
  0%{
    margin-top: 150%;
  }
  60%{
    margin-top: -5%;
  }
  100%{
    margin-top: 0%;
  }
}
